:root{
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: white;
}
html{
  font-family: 'Raleway', sans-serif;
}
/* -------------------- COMPONENTES -------------------- */
/* -------------------- MENU FLOTANTE -------------------- */

/* -------------------- ESTILOS PROPIOS -------------------- */
/* -------------------- HEADER -------------------- */
.header{
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  z-index: 999;
}
.menu{
  top: 5rem;
  left: auto;
  box-shadow: 0px 70px 25px 50px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.menu a{
  color: var(--dark-blue);
}
.menu a:hover{
  background-color: var(--grayish-blue);
}
@media screen and (min-width: 48rem){
  .menu-btn{
    display: none;
  }
  .menu{
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
    align-items: center;
    box-shadow: none;
  }
  .menu a{
    padding: 0 1rem;
  }
  .menu a:last-child{
    padding: 0;
  }
  .menu a:hover{
    background-color: transparent;
  }
}
.hero-images{
  position:relative;
  height: 23rem;
}
.hero-images > img:first-child{
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: cover;
}
.hero-images > img:last-child{
  position: absolute;
  top: -7rem;
  z-index: -1;
}
.hero-title > h1{
  color: var(--dark-blue);
}
.footer-boton > a,
.hero-title > a{
  display: inline-block;
  background-image: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
  border-radius: 50px;
}
@media screen and (min-width: 500px){
  .hero-images{
    height: 35rem;
  }
}
@media screen and (min-width: 36rem){
  .hero-images{
    height: 35rem;
  }
  .hero-images > img:last-child{
    top: -12rem;
  }
  .menu{
    left: 2rem;
  }
  .header{
    position: relative;
  }
}
@media screen and (min-width: 48rem){
  .hero-images > img:last-child{
    top: -20rem;
    z-index: 2;
  }
  .hero-images{
    height: 40rem;
  }
}
@media screen and (min-width: 64rem){
  .hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: auto;
  }
  .hero-images > img:last-child{
    top: -10rem;
  }
  
}
/* -------------------- WHY CHOOSE -------------------- */
.why-choose{
  background-color: var(--light-grayish-blue);
}
@media screen and (min-width: 36rem){
  .why-choose > .container > .why-choose-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 64rem){
  .why-choose > .container > .why-choose-items{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* -------------------- LATEST ARTICLES -------------------- */
.latest-articles-section{
  background-color: var(--very-light-gray);
}
.latest-article-image > img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
@media screen and (min-width: 36rem){
  .latest-article-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
}
@media screen and (min-width: 64rem){
  .latest-article-items{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* -------------------- FOOTER -------------------- */
footer{
  background-color: var(--dark-blue);
}
.footer-sociales{
  display: flex;
  justify-content: space-around;
}
.footer-menu a{
  padding: .5rem 0;
  color: white;
}
.footer-copyright{
  color: var(--grayish-blue)
}
.attribution{
  background-color: rgb(13, 13, 61);
}
@media screen and (min-width: 64rem){
  footer > .container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 'logo nav boton'
    'sociales nav copyright';
    align-items: center;
    column-gap: 1rem;
  }
  .footer-logo{
    grid-area: logo;
  }
  .footer-sociales{
    width: 100%;
    grid-area: sociales;
  }
  .footer-sociales > img{
    width: 20px;
  }
  .footer-menu{
    grid-area: nav;
    flex-wrap: wrap;
  }
  .footer-menu a{
    flex-basis: 50%;
  }
  .footer-copyright{
    grid-area: copyright;
  }
  .footer-boton{
    grid-area: boton;
  }
}